<section class="main">
        <div class="m-t w-2/5 pl-40 ml-32">
            <div class="m-text text-gray-800 font-bold">Alumni Engagement Stack built for <br> Success & Efficiency</div>
            <div>
                <button class="button-53" role="button">Connect</button>
             </div>
        </div>
</section>
<div class="part-2">
<section class="community px-32">
    <div class="items-center py-16 ">
        <div><h1 class="text-center m-text font-bold">About Our community</h1>
            <hr class="mt-1 mb-6 mx-auto w-full h-1 bg-gray-500 rounded border-0">
        </div>
        <div class="text-justify">
        <div class="flex justify-between items-center">
            <div class="w-2/3 text-3xl">Li Europan lingues es membres del sam familie.
                 Lor separat existentie es un myth. Por scientie,
                 musica, sport etc, litot Europa usa li sam vocabular.
                 Li lingues differe solmen in li grammatica,
                  li pronunciation e li plu commun vocabules.
                   Omnicos directe al desirabilite de un nov lingua franca: On refusa
            </div>
            <div><img class="ab-img" src="/img/people.png" alt="img"></div>
        </div>
        <div class="flex justify-between items-center">
            <div><img class="ab-img w-1/2" src="/img/earth.png" alt="img"></div>
            <div class="w-2/3 text-3xl">Li Europan lingues es membres del sam familie.
                 Lor separat existentie es un myth. Por scientie,
                 musica, sport etc, litot Europa usa li sam vocabular.
                 Li lingues differe solmen in li grammatica,
                  li pronunciation e li plu commun vocabules.
                   Omnicos directe al desirabilite de un nov lingua franca: On refusa
            </div>
        </div>
    </div>
    </div>
</section>
<hr class="mt-1 mb-6 mx-auto w-10/12 h-1 bg-gray-500 rounded border-0">
<section class="card  px-32">
    <div><h1 class="text-center m-text font-bold">Featured Alumni</h1>
    </div>
    <div class="flex justify-between items-center py-16">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/img/card-1.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/img/card-2.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/img/card-3.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div>
      </div>
    </div>
</section>
</div>
