@import './variables';

body {
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: $gray;
}

nav li a {
    color: $primary;
    transition: $smooth;
    &:hover {
        color: $primary-hover;
    }
}

//registratoin

.regis{
    background-color: $pure;
}

.regis-box {
    background: $gray;
}

.year {
    color: rgb(78, 89, 112);
}


.s-button{
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
    background: $primary;
    text-transform: capitalize;
    text-align: center;
    border: none;
    padding: 12px 104px;
    transition: $smooth;
    &:hover {
        background: $primary-hover;
        cursor: pointer;
    }
}